
@import "src/styles/theme.scss";

@keyframes growCell {
    from {width: 0%; height:0%}
    to {width: 100%; height:100%}
}

@keyframes dieCell {
    from {width: 100%; height:100%}
    to {width: 0%; height:0%}
}

.cellContainer {
    width: 20px;
    min-width: 20px;
    height: 20px;
    min-height: 20px;
    box-sizing: border-box;
    border: solid 0.5px #add8e624;
    display: flex;
    justify-content: center;
    align-items: center;


    .cell {
        border-radius: 6px;
        background-color: $primary;
        animation-fill-mode: forwards;
        animation-duration: 0.5s;
    }

    .dead {   
        animation-name: dieCell;
        animation-fill-mode: forwards;
        animation-duration: 0.5s;
    }

    .alive
    {
        animation-name: growCell;
        animation-fill-mode: forwards;
        animation-duration: 0.5s;
    }

}
