.universe-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    padding: 2px;

    .row-of-cells  {
        display: flex;
        justify-content: center;
        width: 100%;       
    }
    
  
}

    

